@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
/* First Fold */
    .firstPage{
        @apply h-[100vh] w-full relative flex justify-center pt-20  mainBgColor z-0
    }
    .tv{
        @apply flex flex-col justify-center items-center gap-10 absolute  h-[40%] p-2 shadow-lg min-w-[400px] w-[50%] p-[24px] whiteColor rounded-lg
    }
    .projNavigationContainer{
        @apply flex relative flex-col justify-center items-center
    }
    .projectNavigationFluid{
        @apply flex h-[600px] absolute bottom-0 gap-4 items-end justify-around overflow-hidden z-10
    }
    .projectNavigationBg{
        @apply projects-holder min-h-[80px] min-w-[100vw] flex justify-between items-center absolute bottom-0 w-full
    }
    .iconContainer1{
        @apply cursor-pointer w-10 min-h-10 bg-white rounded-full z-10
    }
    .iconContainer2{
        @apply cursor-pointer w-10 h-10 bg-white rounded-full hover:bg-[#0044D7] z-10
    }
    /* second Fold */

    .page2{
        @apply h-[150vh] mt-2 w-[100vw] flex relative
    }
    .projectsContainer2{
        @apply sticky top-0 projects-holder m-2  h-[100vh]  flex flex-col justify-center items-center 
    }
    .projectsFluid2{
        @apply flex h-[600px] w-[100vw] items-center gap-4 items-center justify-around overflow-hidden z-10
    }
/* third Fold */
    .scrollingListItem{
        @apply  text-[18px] text-white font-bold text-slate-300 
    }
    
    .scrollingList >ul{
        /* @apply flex  gap-[20rem] w-[100vw]; */
        
        /* transform: translateX(100%); */
    }
    .scrollingList{
        border-bottom: white solid 2px;
        overflow: hidden;
       max-width : 100vw;
       width: 100vw;
        -webkit-mask: linear-gradient(90deg,transparent, white 20%,white 80%,transparent);
        mask: linear-gradient(90deg,transparent, white 20%,white 80%,transparent);
        @apply flex 
    }
    .scrollingList[data-animated="true"]>ul{
       flex-wrap:nowrap !important; 
       animation: scroll 15s linear infinite;
       width:max-content;
       min-width: none;
    }
    .scrollingList > ul>div{
        /* background: #000; */
        
        @apply flex justify-around py-[2rem] w-[200vw] ;
        /* gap:calc(100vw/4); */
        
        

    }
    .scrollingList > ul>.ux{
        /* background: #000; */
        
        @apply flex py-[2rem] w-[200vw] ;
        /* gap:calc(100vw/2) !important;    */
        
        

    }
    .scrollingList[data-animated="true"]>.uxscroller{
       flex-wrap:nowrap !important; 
       animation: scroll 10s linear infinite;
       width:max-content;
       min-width: none;
    }
    .scrollingList[data-animated="true"]>.backendScroller{
       flex-wrap:nowrap !important; 
       animation: scrollBackend 20s linear infinite;
       width:max-content;
       min-width: none;
    }
    
    /* .scrollingList[data-animated="true"]>.backendScroller{
       flex-wrap:nowrap !important; 
       animation: scrollBackend 24s linear infinite;
       width:max-content;
       min-width: none;
       gap:30rem
    }
    .backend{
        gap:30rem !important; 
}  */
    
    @keyframes scroll{
        to{
            transform: translate(calc(-50%));
        }
    }
    @keyframes scrollUx{
        to{
            transform: translate(calc(-50% ));
        }
    }
    @keyframes scrollBackend{
        to{
            transform: translate(calc(-50% ));
        }
    }
    .gradientRed{
        background: linear-gradient(90deg, #1F292B 0%, #1F292B 50%, #D0826B 50%, #D0826B 100%);
        
    }

    .btn {
        @apply bg-black text-white py-2 px-4 rounded-md

    }
    .mainBgColor{
        background-color: #1F292B
    }
    .mainTextColor{
        color: #1F292B
    }
    .whiteColor{
        background-color: #F9F8FD
    }
    .whiteText{
        color: #F9F8FD
    }
    .primaryColor{
        background-color: #0044D7;
    }
    .primaryTextColor{
        color: #0044D7
    }
    .highlightColor{
        background-color: #D0826B

    }
    .highlightTextColor{
        color: #D0826B
    }
    .project{
      
        
    }
    .projects-holder{
        border-radius: 47px;
        background: rgba(217, 217, 217, 0.50);
        width: 100%;
        height: 128px;
        
        
    }
    .snap {
        scroll-snap-type: y mandatory; /* Enable vertical scrolling and snap */
      }
      
      .snap > div {
        scroll-snap-align: start; /* Define snap points for the children of your-div */
      }
      .card{
        @apply w-[100vw] sm:w-[50vw] min-w-[500px]  h-[30vh] min-h-[200px]  rounded-lg;
        
      }
}